.Home {
   
    text-align: center;
    background-image:"./Picture/support.png  " ;
    top: 100%;
    position: relative;
    margin: 16px;
    background-color: black;



}

.Home-img {
    margin: 0 1.5rem;
    flex: 0 0 40%;
    padding: 1rem;
    text-align: center;
  }
  
  .Home-img img {
    max-width: 80%;
    /* clip-path: circle(); */
    height: 30rem;
    object-fit: cover;
    object-position: center;
  }

  .Home-img {
    margin-bottom: 1.5rem;
  }

  .Home-img img {
    height: 30rem;
  }